.logo {
    float: left;
    width: 100px;

}

body {
    background-color: lightskyblue;
}

header {
    background-color: lightseagreen;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    font-size: 18px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 250ms;
}


nav a:hover::before {
    width: 100%
}

.controls {
    display: flex;
    justify-content: space-between;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}

.main-controls{
    display: flex;
}

.control-btn-container {
    display: flex;
}

.control-btn {
    margin-left: 8px;
    width: 50px;
    height: 100%;
}

#filename-input {
    margin-left: 10px;
}

#content {
    padding: 20px;
    box-shadow: 0 0 5px 0 rbga(0, 0, 0, 0.5);
    outline: solid gainsboro;
    min-height: 300px;
    margin: 30px 0;
    background-color: white;
}

@keyframes fadeText {
    0% {color: rgba(0, 0, 0, 1);}
    50% {color: rgba(255, 0, 0, 0.5)}
    100% {color: rgba(0, 0, 0, 0)}
}

.fading {
    animation-name: fadeText;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in;
}

.solid {
    color: black;
}